<h1>Dailies</h1>

<% if @dailies.any? %>
  <table>
    <thead>
      <tr>
        <th>Uploaded By</th>
        <th>Video</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @dailies.each do |daily| %>
        <tr>
          <td><%= daily.user.email %></td>
          <td>
            <% if daily.video.attached? %>
              <%= link_to "View", project_daily_path(@project, daily), class: "button" %>
            <% else %>
              No video uploaded
            <% end %>
          </td>
          <td>
            <%= link_to "Show", project_daily_path(@project, daily), class: "button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No dailies have been uploaded yet.</p>
<% end %>

<%= link_to "Upload New Daily", new_project_daily_path(@project), class: "button" %>
